/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 /* end resets */

 *, *:before, *:after {
   box-sizing: border-box;
 }

body {
	background-color: ;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 300;
	margin: 0 auto;
	color: #F9F5ED;
}

.container {
	background-color: #4A4A4A;
	margin: 0 auto;
	width: 375px;
	height: 667px;
}

.status-bar {
	width: 375px;
	height: 15px;
}

nav {
	width: 100%;
	height: 45px;
	background-color: #666;
	padding-top: 4%;
}

.arrow-left{
	display: inline-block;
	float: left;
	color: #EECA00;
	margin-left: 16px;
	position: absolute;
}

h1 {
	text-align: center;
  letter-spacing: 0.05em;
}

.stop-routes {
	overflow: scroll;
	height: 607px;
	background-color: #2A2A2A;
}

.direction {
	width: 100%;
	height: 30px;
	background-color: #4A4A4A;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 0.7em;
	letter-spacing: 0.1em;
}

.direction h3 {
	margin-left: 16px;
	padding: 2% 0 2% 0;
}

.route-listing {
	width: 375px;
  height: 70px;
}

.route-number {
  box-sizing: content-box;
	width: 57px;
	height: 44px;
	border-width: 1px 1px 6px 1px;
	border-style: solid;
	border-color: #7ED321;
	border-radius: 4px;
	text-align: center;
	font-size: 0.8em;
  margin: 10px 10px 10px 16px;
	display: inline-block;
	float: left;
}

.reroute .route-number {
	border-color: #06A0C3;
}

.out-of-service .route-number {
	border-color: #CB3923;
}

.route-number h4 {
  padding-top: 15px;
}

.route-name {
	display: inline-block;
	font-size: 0.8em;
  padding: 16px 0 13px 0;
	line-height: 1.2em;
}

.arrow-right {
	display: inline;
	float: right;
	width: 10px;
  padding: 22px 25px 0 0;
	color: #EECA00;
}

.alert {
	display: inline-block;
	float: right;
  padding: 5% 21px 5% 0;
	text-align: right;
	color: #EECA00;
}

.frequency {
	display: inline-block;
	float: right;
  padding: 26px 19px 0 0;
  width:30%;
	text-align: right;
}

.frequency h6 {
	display: inline;
	font-size: 0.7em;/*14px*/
}

.frequency h5 {
	display: inline;
	font-size: 1.3em; /*26px*/
	font-weight: 100;
}

.footer {
	padding: 10px 0 25px 26px;
	font-size: 0.7em; /*14px*/
	background-color: #4A4A4A;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #666;
    margin: 0 10px 0 10px;
    padding: 0;
}
